body{
    background-color: black;
}

div {
background-color: white;
text-align: center;
border-style: solid ;
border-color: yellow;

height: 150px;
}

h2 {
text-align: center;
color: red;
}

p {
text-align: center;
}

span {
    background-color: greenyellow;
    border-color: green;
    border-style: dashed;
    color: green;
    padding: 5px;
}